.embedder {
  width: 400px;
  margin: 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  /*z-index: 10000;*/
}

.embed-title {
  position: absolute;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  /*margin-left: 120px;
  margin-top: 25px;*/
  font-size: 20px;
  z-index: 1;
}

#dragger {
  z-index: 10000;
  top: 200px;
  left: 50%;
}
